@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900')
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One')
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700')

=Roboto
    font-family: 'Roboto', sans-serif

=Hammersmith
    font-family: 'Hammersmith One', sans-serif

=Playfair
    font-family: 'Playfair Display', serif


=column
    display: flex
    flex-direction: column
    align-items: center

$main-color: #00e0d0
$font-main: #2f2d35
$font-second: #413d4b
$font-white: #ffffff


*
    margin: 0px
    padding: 0px
    scroll-behavior: smooth
    outline: none

li
    list-style: none    

a
    text-decoration: none
    color: $font-white

*,
*:before,
*:after 
    box-sizing: inherit
    padding: 0
    margin: 0

.bcg
    background: linear-gradient(270deg, rgba(49,29,94,0.85) 0%, rgba(9,5,47,0.85) 100%)


.btn
    height: 40px
    width: 120px
    border: 2px solid $main-color
    border-radius: 3px
    background-color: transparent
    +Hammersmith
    font-size: 16px
    color: $main-color
    cursor: pointer
    transition:	0.2s ease-in-out
    &:hover
        background-color: $main-color
        color: $font-white

.wrapper
    margin: 0 auto
    color: $font-main
    width: 96%
    max-width: 1600px

.title
    +Playfair
    font-weight: 700
    font-size: 22px

.bcg
    position: relative

.section
    background-image: url(../img/header_bcg.jpg)
    &__bcg
        min-height: 670px
.header
    margin: 0 auto
    max-width: 940px
    display: flex
    justify-content: space-between
    &__navigation
        margin: 0 auto
        max-width: 940px
        width: 90%
        padding-top: 35px
        display: flex
        justify-content: space-between
    .nav
        &__ul
            width: 525px
            display: flex
            justify-content: space-between
            &--li
                list-style: none
                position: relative
                & a
                    +Roboto
                    font-size: 13px
                    font-weight: 900
                    transition:	0.2s ease-in-out
                    &:after
                        position: absolute
                        top: 24px
                        left: 0
                        content: ' '
                        width: 0
                        height: 4px
                        background: $main-color
                        transition: width .3s linear
                    &:hover:after
                        width: 100%                    
                    &:hover
                        color: $main-color
.title_header
    text-align: center
    padding-top: 100px
    +Playfair
    font-weight: 700
    font-size: 32px
    color: $font-white
.separator
    width: 50px
    height: 2px
    background: $main-color
    margin: 0 auto
    border: none
    margin-top: 40px
.text
    padding: 38px 0 48px 0
    text-align: center
    +Roboto
    font-weight: 300
    color: $font-white
    font-size: 14px
    line-height: 160%
    letter-spacing: 1px
.button
    margin: 0 auto
    width: 124px
.dot-nav
    display: flex
    justify-content: space-between
    padding-top: 5%
    margin: 0 auto
    width: 60px
    padding-bottom: 74px
    & .option-input
        appearance: none
        height: 10px
        width: 10px
        transition: all 0.15s ease-out 0s
        background: #cbd1d8
        border: none
        color: #fff
        cursor: pointer
        display: inline-block
        margin-right: 0.5rem
        outline: none
        position: relative
        z-index: 1000
        &:hover
            background: #9faab7
        &:checked
            background: #40e0d0
            &::before
                height: 10px
                width: 10px
                position: absolute
                content: ''
                display: inline-block
                text-align: center
            &::after
                animation: click-wave 0.65s
                background: #40e0d0
                content: ''
                display: block
                position: relative
                z-index: 100
        &.radio
            border-radius: 50%
            &::after
                border-radius: 50%
    & label
        display: block

.logo
    display: flex
    justify-content: space-between
    width: 130px
    &__title
        +Roboto
        font-weight: 100
        font-size: 30px
        background: linear-gradient(45deg, $main-color, #4aa3cc)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

#top
    margin-left: -50px
    top: 100px
    display: flex

#badge-ribbon
    position: relative
    height: 250px
    width: 180px
    &:before
        content: ''
        position: absolute
        border-bottom: 250px solid #13102d
        border-left: 190px solid transparent
        clip-path: polygon(100% 0%, 35% 75%, 75% 75%)
    &:after
        content: ''
        position: absolute
        border-bottom: 250px solid #52c3c0
        border-right: 190px solid transparent
        clip-path: polygon(0% 0%, 20% 75%, 65% 75%)
        right: -200px

#badge-ribbon_2
    position: relative
    margin-left: -85px
    height: 250px
    width: 180px
    &:before
        content: ''
        position: absolute
        border-bottom: 250px solid #30235f
        border-left: 95px solid transparent
        clip-path: polygon(100% 0%, 35% 75%, 100% 100%)
    &:after
        content: ''
        position: absolute
        border-bottom: 250px solid #46a3cc
        border-right: 95px solid transparent
        clip-path: polygon(0% 0%, 65% 75%, 0% 100%)
        right: -10px

.about
    margin: 0 auto
    max-width: 940px
    width: 100%
    min-height: 404px
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    &__logo
        margin-right: 50px
    &__story
        min-height: 265px
        height: 100%
        max-width: 550px
        display: flex
        flex-direction: column
        justify-content: space-between
        &--text
            color: $font-second
            +Roboto
            font-weight: 300
            line-height: 150%

.video
    background-image: url(../img/video_bcg.jpg)
    height: 100%
    &__bcg
        position: relative
        height: 550px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        & svg
            fill: $font-white
            cursor: pointer
            transition:	0.2s ease-in-out
            &:hover
                fill: $main-color
        &--title
            padding-top: 35px
            +Roboto
            font-weight: 900
            color: $font-white

.expertise, .team
    height: 100%
    &__descr
        height: 75px
        padding-top: 70px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        &--text
            color: $font-second
            +Playfair
            font-size: 14px
        &--separator
            border-bottom: 1px solid #c6c4c9
            width: 50px
    &__services
        padding-top: 85px
        margin: 0 auto
        max-width: 940px
        width: 90%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .service
            padding-bottom: 75px
            height: 165px
            max-width: 256px
            width: 100%
            display: flex
            justify-content: space-between
            flex-direction: column
            align-items: center
            &__title, &__text
                +Roboto
                color: $font-main
                font-weight: 900
                font-size: 14px
            &__text
                line-height: 150%
                text-align: center
                font-weight: 300
                color: $font-second

.our-team
    min-height: 715px
    background-image: url(../img/team_bcg.jpg)
    .team
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        justify-content: space-between
        min-height: 715px
        &__descr
            &--title, &--text, &--separator
                color: $font-white
            &--people
                display: flex
                justify-content: space-between
                height: 310px
                max-width: 940px
                width: 96%
                .human
                    max-width: 232px
                    width: 100%
                    margin: 10px
                    &__img
                        max-height: 230px
                        height: 100%
                        max-width: 220px
                        background-color: $font-white
                    &__about
                        max-width: 218px
                        height: 79px
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        border-left: 1px solid #78758c
                        border-right: 1px solid #78758c
                        border-bottom: 1px solid #78758c
                        &--name, &--position
                            +Roboto
                            font-weight: 900
                            font-size: 14px
                            color: $font-white
                        &--position
                            font-weight: 300
        &__end
            width: 315px
            height: 85px
            padding-bottom: 70px
            display: flex
            justify-content: space-between
            align-items: center
            flex-direction: column
            &--text
                +Roboto
                font-weight: 300
                color: $font-white
                font-size: 14px

.works
    max-height: 1100px
    height: 90%
    display: flex
    align-items: center
    flex-direction: column
    padding-bottom: 70px
    &__begin
        padding: 70px 0
        margin: 0 auto
        max-width: 940px
        width: 99%
        display: flex
        justify-content: space-between
        &--ref
            display: flex
            justify-content: space-between
            & p
                +Roboto
                font-weight: 300
                font-size: 14px
                padding-right: 10px
            & img
                cursor: pointer
    &__img
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding-bottom: 70px
        &--1, &--2, &--3
            width: 262px
            height: 200px
            border: solid 1px #000000
            background: #b6b6b6
        &--2
            background: #acacac
        &--3
            background: #8a8a8a

.testimonials
    min-height: 500px
    background-image: url(../img/testimonials_bcg.jpg)
    &__bcg
        display: flex
        align-items: center
        flex-direction: column
        min-height: 500px
        &--title
            padding-top: 30px
            +Playfair
            font-size: 100px
            color: $font-white
        &--text
            +Playfair
            font-size: 16px
            font-weight: 400
            text-align: center
            line-height: 150%
            color: $font-white
    & .group
        padding-top: 55px
        display: flex
        align-items: center
        flex-direction: column
        &__name, &__position
            +Roboto
            font-weight: 900
            font-size: 14px
            color: $font-white
        &__position
            padding: 10px 0 40px 0
            font-weight: 300
            font-size: 13px
        &__carusel
            max-width: 390px
            width: 90vw
            display: flex
            align-items: center
            justify-content: space-between
            & svg, img
                cursor: pointer

.contact
    margin: 0 auto
    min-height: 650px
    max-width: 940px
    width: 90%
    display: flex
    justify-content: space-between
    .form
        max-width: 460px
        width: 90%
        padding-right: 20px
        &__title
            padding: 75px 0 40px 0
        &__reg
            padding-right: 20px
            &--name, &--mail, &--subject, &--area
                max-width: 440px
                width: 100%
                height: 48px
                margin-bottom: 20px
                padding-left: 20px
                border: 1px solid #e5e5e5
                border-radius: 3px
                +Roboto
                font-weight: 300
                font-size: 14px
                transition:	0.2s ease-in-out
                &:hover
                    border-color: $main-color
            &--area
                resize: none
                height: 180px
                padding-top: 20px
    .clients
        max-width: 380px
        padding-bottom: 5%
        &__title
            padding: 75px 0 40px 0
        &__logo
            padding-top: 10px
            height: 415px
            display: flex
            justify-content: space-between
            &--left, &--right
                margin-right: 20px
                +column
                justify-content: space-between
            &--right
                margin-right: 0

.footer
    min-height: 400px
    height: 100%
    background-image: url(../img/footer_bcg.jpg)
    margin-bottom: 100px
    display: flex
    align-items: center
    justify-content: space-between
    .background
        width: 100%
        min-height: 400px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .container
            margin: 0 auto
            max-width: 940px
            width: 90%
            display: flex
            justify-content: space-between
            align-items: center
            &__brand, &__location, &__subscr
                color: $font-white
                max-width: 280px
                width: 90%
                height: 180px
                &--text
                    padding-top: 30px
                    +Roboto
                    font-weight: 300
                    font-size: 14px
                    line-height: 150%
            &__location
                &--title
                    padding: 20px 0 40px 0
                    +Roboto
                    font-weight: 900
                    font-size: 15px
                &--adress, &--number
                    display: flex
                    padding-bottom: 25px
                    line-height: 150%
                    +Roboto
                    font-weight: 300
                    font-size: 14px
                    & svg
                        margin-right: 10px
            &__subscr
                &--input
                    display: flex
                &--title
                    padding: 20px 0 40px 0
                    +Roboto
                    font-weight: 900
                    font-size: 15px
                input
                    max-width: 208px
                    width: 90%
                    height: 43px
                    margin-right: 10px
                    border: 1px solid #e5e5e5
                    background-color: transparent
                    text-align: center
                    +Roboto
                    font-size: 14px
                    font-weight: 300
                    color: $font-white
                    transition:	0.2s ease-in-out
                    &:hover
                        border-color: $main-color
                button
                    width: 70px
                    height: 45px
                    border: none
                    background: rgba(255, 255, 255, 0.4)
                    background-image: url(../img/letter.png)
                    background-repeat: no-repeat
                    background-position: center center
                    cursor: pointer
                    transition:	0.2s ease-in-out
                    &:hover
                        background: rgba(0, 224, 208, 0.4)
                        background-image: url(../img/letter.png)
                        background-repeat: no-repeat
                        background-position: center center
                &--social
                    ul
                        display: flex
                        li
                            margin: 30px 8px 0 0
                    svg
                        width: 33px
                        height: 33px
                        fill: $font-white
                        transition:	0.2s ease-in-out
                        &:hover
                            fill: $main-color
            &__end
                display: flex
                justify-content: space-between
                max-width: 940px
                width: 90%
                padding-top: 65px
                &--help, &--copyright
                    width: 310px
                    display: flex
                    justify-content: space-between
                    color: $font-white
                    +Roboto
                    font-size: 14px
                    & a
                        transition:	0.2s ease-in-out
                        &:hover
                            color: $main-color
                &--copyright
                    display: flex
                    justify-content: flex-end

@media(max-width: 720px)
    .nav 
        display: none
    .title
        font-size: 18px
    .title_header
        padding-top: 50px
    .wrapper
        width: 100%
    .dot-nav
        padding-top: 10%
        padding-bottom: 0
    .about
        &__logo
            display: none
        &__story--text
            padding: 2% 0
    .section__bcg, .about__story, .expertise__descr--text
        padding: 0 3%
    .team__descr--people
        flex-direction: row
        flex-wrap: wrap
    .expertise
        &__services
            +column
    .works
        &__begin
            max-width: 70%
            +column
        &__img
            &--1, &--2, &--3
                width: 70px
                height: 70px
    .our-team
        .team__descr
            padding-top: 3%
            &--people
                max-height: 460px
                height: 100%
                .human
                    max-width: 150px
                    min-height: 210px
                    &__img
                        max-height: 150px
                    &__about
                        max-height: 60px
    .contact
        +column
        .form
            &__reg
                padding-right: 0
    
    .testimonials
        &__bcg
            &--title
                font-size: 70px
                padding-top: 0
            &--text
                font-size: 13px
                padding: 0 5%
    
    .footer
        margin-bottom: 0
        .background
            +column
            padding: 7% 0
            .container
                +column
                &__end
                    +column
                    &--copyright
                        display: flex
                        justify-content: center
                        padding-top: 2%
    
    .section, .video, .our-team, .testimonials
        &:before
            width: 100%